@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background: #171717;
  color: #ffffff;
}

.dark ::selection {
  background: #ffffff;
  color: #000000;
}
